
*{
    margin: 0;
    padding: 0;
}
#outer{
    height: 900px;
    width: 100%;
    background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcGYtbWlzYzYtdGVkMzEwNS10ZWRkeS5qcGc.jpg");
    background-size: cover;
    
    /* Make the background image cover the entire element */
    background-size: cover;

    /* Center the image */
    background-position: center;

    /* Prevent background from repeating */
    background-repeat: no-repeat;
    
}
#btn2{
    position: absolute;
    height: 40px;
    width: 100px;
    background-color: #8E1616;
    border: 2px solid white;
    color: white;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    margin-left: 1380px;
    margin-top: 70px;
    cursor: pointer;
}
.logo_back{
    height: 80px;
    width: 200px;
    position: absolute;
    margin-top: 50px;
    margin-left: 50px;
}
#Synonyme{
    position: absolute;
    height: 500px;
    width: 750px;
    /* border: 2px solid rgb(189, 180, 180); */
    margin-top: 200px;
    margin-left: 200px;
}
#syno1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
    font-weight: 600;
    color: white;
}

#outer_3rd{
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: black;
}
#movie{
        height: 300px;
        width: 85%;
        padding-top: 35px;
        /* border: 1px solid black; */
        display:grid;
        grid-template-columns: repeat(5,1fr);
        gap: 0px;
}
.product-box{
    height: 260px;
    width:240px;
    text-align: center;
    gap: 0px;
    border: 1px solid black;
    border-radius: 10px;
    animation: scrollLeft 15s linear infinite;
    display: inline-block;
}
@keyframes scrollLeft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
.product-box>img{
    height: 260px;
    width: 240px;
    object-fit: cover;
    border-radius: 12px;
}
.background-container {
    width: 100%;
    height: 800px;
    background-size: cover; 
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat; /* Prevent tiling */
    /* transition: background-image 1s ease-in-out; */
  }


.footer{
    height: 400px;
    width: 100%;
    background-color: rgb(12, 10, 10);
    
}
.footer li{
    padding-top: 30px;
}
table{
    height: 100px;
    position: absolute;
    margin-top: 150px;
}

table th{
    color: white;
    padding: 10px 150px;
}
table th a{
    font-family: sans-serif;
    font-size: 17px;
    color: white;
}
span{
    position: absolute;
    margin-top: 40px;
    margin-left: 100px;
}
#qs{
    font-size: 20px;
    font-family: sans-serif;
    color: white;
}
#qs a{
    color: white;
}

/* For Question*/

.Question{
    height: 500px;
    background-color: black;
    border: 1px solid rgb(18, 17, 17);
}
.Question p{
    margin-top: 10px;
    margin-left: 20px;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: white;
    margin-left: 120px;
}
.Question #qs1{
    height: 60px;
    width: 83%;
    margin-top: 20px;
    margin-left: 120px;
    border-radius: 8px;
    background-color:rgba(255, 255, 255, 0.1);
    box-shadow: rgba(255, 255, 255, 0.8) 0px 0px 5px 0px;
}
#qs1 p{
    position: absolute;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 16px;
    margin-left: 10px;
}
.Question #qs1:hover{
    background-color:rgba(255, 255, 255, 0.3);
}

#hover_div{
    height: 60px;
    width:83%;
    margin-top: -40px;
    margin-left: 120px;
    border-radius: 8px;
    background-color:rgba(255, 255, 255, 0.1);
    box-shadow: rgba(255, 255, 255, 0.8) 0px 0px 5px 0px;
    opacity: 0;
}
#hover_div p{
    position: absolute;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;

}
#qs1:hover +#hover_div{
    opacity: 1;
    margin-top: 0;
    transition-duration:1s ;
    transition-delay: 0.5s ease-in;
}

.register{
    margin-left: 930px;
    margin-top: 160px;
    height:400px;
    width: 350px;
    position: absolute;
}
form {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(236, 234, 234, 0.5);
    text-align: center;
    width: 320px;
    height: 250px;
}

input {
    width: 94%;
    padding: 10px;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 16px;
    height: 30px;
}

input::placeholder {
    color: #ddd;
}


#btn1{
    
    /* width: 100%; */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #FFB200;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid white;
    width: 150px;
    margin-top: 20px;
}
/* 
button:hover {
    background: #00e676;
} */
button a{
    text-decoration: none;
    color: white;
}
#follow{
    height: 50px;
    width: 100%;
    /* border: 1px solid white; */
    position: absolute;
    margin-top: 300px;
}
#follow a{
    padding: 20px;
}
#follow a i{
    font-size: 25px;
    text-decoration: none;
    color: white;
    /* opacity: 0.2; */
}
/* #follow a i:hover{
    opacity: 1;
    transform: scale(1.1);
    transition: all 0.3s linear
    
} */
#inner{
    height: 50px;
    width: 500px;
    /* border: 1px solid white; */
    margin-left: 600px;

}